{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Birdwatch Galery</title>
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<link rel="shortcut icon" type="image/jpg" href="{% static '/images/icons/left.svg' %}"/>

</head>
<!-- sooooo..... no head?! -->
<body>

<div class="header">
<ul>

  <a href="/#"> <img alt="Back" src="{% static '/images/icons/left.svg' %}" width="50" height="50"></a>

<li>
  <h1>Gallery</h1>
</li>
</ul>
</div>


<div class="gallery_layout">
  {% for x in data %}
<div class="gallery">
      <img id="gbild" src="{{x.bild.url}}" width="430" height="320">
    </a>
    <div class="desc">{{x.datum}}</div>
</div>
  {% endfor %}

</body>
</html>


</body>
</html>
