*{
  font-family: Quicksand;

}

body{

  margin: 0;
  padding: 0;
}


/*----------------------- Gallery Start ------------------------*/


  .header {
    width: 100%;
    position: fixed;
    box-shadow: 1px 1px 14px  black;
    background: #13a3cc;
    height: 100px;
    z-index: 9999;

  }

  .header ul{
    list-style-type: none;
    display: flex;
  }

  .header ul li{
    margin-left: auto;
    margin-right: auto;
  }

  .header ul h1{
    color: black;
    text-shadow: 1px 1px #6bcde9;
    font-family: Quicksand-Bold;

  }

  #gbild {
    opacity: 0.8;
    border-radius: 2%
  }
  #gbild:hover {
    border: solid 3px #13a3cc;
    border-radius: 2%;
    opacity: 1;
    transition-duration: 0s;
  }


  .gallery_layout{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
    padding-top: 160px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 20px;
  }


/*----------------------- Gallery end ------------------------*/

/*----------------------- Main Start -------------------------*/
  .top{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    background-color: #13a0cc;
    height: auto;
    box-shadow: 1px 1px 14px  black;

  }

  .top ul h1{
    color: black;
    text-shadow: 1px 1px #6bcde9;
    font-family: Quicksand-Bold;

  }



  .wrapper{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .feed{
      width:533px;
      height:400px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }



  .current {
    margin-bottom: 30px;
    width: 300px;
    background: #34b5da;
    border: 3px solid #0a84a9;
    box-shadow: 5px 5px 20px black;
    text-shadow: 1px 1px #6bcde9;
  }


  .current ul{
    list-style-type: none;

  }
  .current ul li {
    padding-bottom: 20px;
  }


/*-----------------------Button Start------------------------*/

  #container {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }



  .button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 3px solid #0a84a9;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 1.08em;
    align-items: center;
    justify-content: center;
    background: #34b5da;
    box-shadow: 2px 2px 10px black;
    text-shadow: 1px 1px #6bcde9;


  }


  #buzzer {
    cursor: pointer;
    position: relative;
    overflow: hidden;

  }

  #buzzer a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
    text-decoration: none;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: left;
  }




  #dub-arrow {
    width: 100%;
    height: 100%;
    background: #0a84a9;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }

  #buzzer img {
    width: 20px;
    height: auto;
  }

  #buzzer:hover #dub-arrow {
    left: 0;
  }

  #buzzer:hover a {
    left: 150px;
  }


/*-------------------Button End------------------*/
/*----------------------- Main End ----------------*/


/*-------------------Data Start------------------*/
/*-------------------Chart Start------------------*/

.wrapper-chart{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.data{
  width: auto;
  height: auto;
  background: #34b5da;
  border: 3px solid #0a84a9;
  box-shadow: 5px 5px 20px black;
  text-shadow: 1px 1px #6bcde9;

}
.canvasjs-chart-credit{
  display: none
}

/*-------------------Chart End--------------------*/

.wrapper-entries{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 150px;
  height: auto;
  padding-bottom: 100px;
}

.entries{
  background: #34b5da;
  border: 3px solid #0a84a9;
  box-shadow: 5px 5px 20px black;

}

.entries h1{
  text-align: center;
  text-shadow: 1px 1px #6bcde9;
}

.entries ul {
  list-style-type: none;

}

.entries ul li{
  padding-bottom: 10px;
}



/*-------------------Data End--------------------*/
